.userBoard {
  height: auto;
  margin: 1rem 0rem 0 0rem;
  background-color: black;
  color: white;
  padding: 5px 0px 15px 0px;
  width: 100%;
  position: fixed;
  bottom: 0;
  line-height: 0.25rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-top: solid white 2px;
}

.userBoard h4 {
  margin: 13px 0;
}

.textEntry {
  height: 1rem;
  width: 90%;
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
 
}

.textEntry:hover {
  background-color: white;
  color: black;
}

::placeholder:hover {
  color: black;
}

::placeholder {
  font-size: 1rem;
}

.UserSubmitButton {
  font-size: 1rem;
  position: relative;
  width: 9rem;
  color: #fff;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  border-radius: 5px;
  border: solid 1px #d94e3b;
  background: #cb3b27;
  text-align: center;
  padding: 7px 25px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 9px 0px #84261a;
  -moz-box-shadow: 0px 9px 0px #84261a;
  box-shadow: 0px 9px 0px #84261a;
  outline: none;
}
.UserSubmitButton:focus {
  box-shadow: 0px 9px 0px #84261a;
  position: relative;
  font-weight: bold;
  top: 3px;
}
.userSubmitButton:hover {
  box-shadow: 0px 9px 0px #84261a;
  position: relative;
  font-weight: bold;
  top: 3px;
}

.red {
  color:white;
  background-color: #cb3b27;
  padding: 2px 5px;
  border-radius: 5px;
}

.toggle {
  background-color: #d94e3b;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  margin: 0 20px;
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}
.button {
  display: flex;
margin-bottom: 5px;
}